In [1]:
"""Things Left to be done
-Convert 'Founded Date' column to 'Age of Company' column. This is a value that is better inserted into a classification model
-We need to effectively encode the 'Categories' column so that each company that is part of multiple categories can effectively
be seen that way. This can probably be done using the split method and splitting on commas. Will work on it tomorrow
-We will also probably need to limit the number of different locations due to there being 7889 locations. This is very likely
to overfit themodel
-And we need to either convert or get rid of all the funding data that isn't in USD"""

"Things Left to be done\n-Convert 'Founded Date' column to 'Age of Company' column. This is a value that is better inserted into a classification model\n-We need to effectively encode the 'Categories' column so that each company that is part of multiple categories can effectively\nbe seen that way. This can probably be done using the split method and splitting on commas. Will work on it tomorrow\n-We will also probably need to limit the number of different locations due to there being 7889 locations. This is very likely\nto overfit themodel"

In [2]:
import pandas as pd
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 15)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 15)

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Annyou/vc_holy_grail-1/master/Deprecated/data/companies.csv', encoding = "ISO-8859-1")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (16,23,24,26,27,28,31,32,33,34,35,43,45,54,55,56,57,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(100906, 61)

In [5]:
df.columns

Index(['Organization Name',
       'Organization Name URL',
       'Categories',
       'Headquarters Location',
       'Description',
       'CB Rank (Company)',
       'Operating Status',
       'Founded Date',
       'Closed Date',
       'Company Type',
       'Website',
       'Twitter',
       'Facebook',
       'LinkedIn',
       'Contact Email',
       'Phone Number',
       'Number of Articles',
       'Investor Type',
       'Investment Stage',
       'Number of Portfolio Organizations',
       'Number of Investments',
       'Number of Lead Investments',
       'Number of Exits',
       'Accelerator Program Type',
       'Accelerator Application Deadline',
       'Accelerator Duration (in weeks)',
       'School Type',
       'School Program',
       'Number of Enrollments',
       'School Method',
       'Number of Founders (Alumni)',
       'Number of Alumni',
       'Category Groups',
       'Number of Founders',
       'Number of Employees',
       'Number of Funding Rounds',
       'Funding Status',
       'Last Funding Date',
       'Last Funding Amount',
       'Last Funding Type',
       'Last Equity Funding Amount',
       'Last Equity Funding Type',
       'Total Equity Funding Amount',
       'Total Funding Amount',
       'Number of Lead Investors',
       'Number of Investors',
       'Acquisition Status',
       'IPO Status',
       'IPO Date',
       'Delisted Date',
       'Money Raised at IPO',
       'Valuation at IPO',
       'Stock Symbol',
       'Stock Symbol URL',
       'Stock Exchange',
       'Number of Events',
       'CB Rank (Organization)',
       'CB Rank (School)',
       'Trend Score (7 Days)',
       'Trend Score (30 Days)',
       'Trend Score (90 Days)'],
      dtype='object')

In [6]:
df.head(15)

,Organization Name,Organization Name URL,Categories,Headquarters Location,Description,CB Rank (Company),Operating Status,Founded Date,Closed Date,Company Type,Website,Twitter,Facebook,LinkedIn,Contact Email,Phone Number,Number of Articles,Investor Type,Investment Stage,Number of Portfolio Organizations,Number of Investments,Number of Lead Investments,Number of Exits,Accelerator Program Type,Accelerator Application Deadline,Accelerator Duration (in weeks),School Type,School Program,Number of Enrollments,School Method,Number of Founders (Alumni),Number of Alumni,Category Groups,Number of Founders,Number of Employees,Number of Funding Rounds,Funding Status,Last Funding Date,Last Funding Amount,Last Funding Type,Last Equity Funding Amount,Last Equity Funding Type,Total Equity Funding Amount,Total Funding Amount,Number of Lead Investors,Number of Investors,Acquisition Status,IPO Status,IPO Date,Delisted Date,Money Raised at IPO,Valuation at IPO,Stock Symbol,Stock Symbol URL,Stock Exchange,Number of Events,CB Rank (Organization),CB Rank (School),Trend Score (7 Days),Trend Score (30 Days),Trend Score (90 Days)
0,Xiaomi,/organization/xiaomi,"Mobile, Consumer Electronics, Internet","Beijing, Beijing, China",Xiaomi is a privately owned electronics and so...,1,Active,"Apr 4, 2010",NaN,For Profit,http://www.mi.com/en/,https://twitter.com/xiaomi,https://www.facebook.com/xiaomiglobal/,https://www.linkedin.com/company/xiaomi-techno...,xiaomi@xiaomi.com,NaN,"13,913",NaN,NaN,23.0,25.0,15.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hardware, Internet Services, Consumer Electron...",10,1001-5000,7,NaN,"Jul 28, 2017","$1,000,000,000",Debt Financing,NaN,Undisclosed,"$1,447,000,000","$2,447,000,000",4.0,17,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,NaN,0.0,0.0,8.5
1,Netflix,/organization/netflix,"Digital Entertainment, Video, Consumer Electro...","Los Gatos, California, United States",Netflix is the worldäó»s leading Internet tele...,2,Active,"Jan 1, 1997",NaN,For Profit,https://www.netflix.com,http://twitter.com/netflix,http://www.facebook.com/netflix,http://www.linkedin.com/company/netflix,NaN,NaN,"59,256",NaN,NaN,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hardware, Video, Consumer Electronics, Media a...",3,1001-5000,11,IPO,"Oct 23, 2017","$1,600,000,000",Post-IPO Debt,"$50,025,952",Series E,"$103,735,952","$2,803,745,952",4.0,8,Made Acquisitions,Public,"May 23, 2002",NaN,"$82,050,000","$309,721,110",NFLX,/ipo/netflix-ipo--0b074a76,NASDAQ,16,3,NaN,4.7,1.0,0.7
2,Kickstarter,/organization/kickstarter,"Crowdsourcing, Finance, Crowdfunding, FinTech","Brooklyn, New York, United States",Kickstarter is a crowdfunding platform for cre...,3,Active,"Apr 28, 2009",NaN,NaN,https://www.kickstarter.com/,http://twitter.com/kickstarter,http://www.facebook.com/Kickstarter,https://www.linkedin.com/company-beta/413999,NaN,NaN,"23,574",NaN,NaN,20.0,20.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Financial Services,3,51-100,1,NaN,"Mar 18, 2009","$10,000,000",Venture - Series Unknown,"$10,000,000",Venture - Series Unknown,"$10,000,000","$10,000,000",NaN,19,Made Acquisitions,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4,NaN,0.9,0.9,9.8
3,SeedInvest,/organization/seedinvest,"Crowdfunding, Association, Venture Capital","New York, New York, United States",SeedInvest is an equity crowdfunding platform ...,4,Active,"May 1, 2011",NaN,NaN,https://www.seedinvest.com/,http://twitter.com/seedinvest,http://www.facebook.com/seedinvest,http://www.linkedin.com/company/seedinvest,contactus@seedinvest.com,NaN,430,NaN,NaN,75.0,83.0,6.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lending and Investments, Financial Services",2,01-Oct,3,NaN,"Jun 1, 2016","$5,125,000",Venture - Series Unknown,"$5,125,000",Venture - Series Unknown,"$10,375,000","$10,375,000",1.0,8,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5,NaN,-0.5,8.9,-0.4
4,Singapore Post,/organization/singapore-post,"Retail, Logistics, Supply Chain Management","Singapore, Central Region, Singapore",Singapore Post (SingPost) provides an integrat...,5,Active,1819,NaN,For Profit,https://www.dissertationcorp.co.uk/,https://twitter.com/singpost,https://www.facebook.com/mysingpost,https://www.linkedin.com/company/singapore-pos...,NaN,(656) 222-5777,"3,544",NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Transportation, Commerce and Shopping",1,1001-5000,2,M&A,"Jul 8, 2015","$206,850,000",Undisclosed,"$206,850,000",Undisclosed,"$455,850,000","$455,850,000",1.0,1,"Made Acquisitions, Was Acquired",Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7,NaN,0.8,0.0,0
5,Rocket Internet,/organization/rocket-internet,"Developer Platform, Internet, Software","Berlin, Berlin, Germany",Rocket Internet is an internet platform that i...,6,Active,2007,NaN,For Profit,https://www.dissertationcorp.co.uk/,http://twitter.com/RocketBerlin,https://www.facebook.com/pages/Rocket-Internet...,https://www.linkedin.com/company/1298456,info@rocket-internet.com,NaN,"2,854",NaN,NaN,74.0,105.0,24.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Software, Internet Services",3,251-500,5,IPO,"Feb 13, 2015","äå588,800,000",Post-IPO Equity,"äå588,800,000",Post-IPO Equity,"$1,122,447,536","$1,122,447,536",2.0,4,Made Acquisitions,Public,"Oct 10, 2014",NaN,"$1,770,000,000","$8,199,999,999",RKET,/ipo/rocket-internet-ipo--383ed618,ETR,1,8,NaN,0.7,8.7,-0.2
6,Lenovo,/organization/lenovo,"Mobile, Hardware, Computer, Manufacturing","Morrisville, North Carolina, United States",Lenovo Group is a Chinese multinational comput...,7,Active,1984,NaN,For Profit,http://www.lenovo.com,http://twitter.com/lenovo,http://www.facebook.com/Lenovo,http://www.linkedin.com/company/lenovo,NaN,(855)253-6686,"26,519",NaN,NaN,9.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hardware, Consumer Electronics, Manufacturing,...",1,10001+,3,IPO,"Oct 3, 2017","$500,000,000",Post-IPO Equity,"$500,000,000",Post-IPO Equity,"$850,025,000","$850,025,000",NaN,6,Made Acquisitions,Public,"May 17, 2000",NaN,NaN,NaN,992,/ipo/lenovo-ipo--b5098ecb,HKG,61,9,NaN,-0.6,9.7,6.9
7,Virgin Hyperloop One,/organization/hyperloop-technolgies,"Travel, Transportation, Manufacturing","Los Angeles, California, United States",Hyperloop One reinvents transportation to elim...,8,Active,2014,NaN,For Profit,https://www.dissertationcorp.co.uk/,https://twitter.com/HyperloopOne,https://www.facebook.com/pages/Hyperloop-Tech/...,https://www.linkedin.com/company/hyperloop-one,info@hyperloop-one.com,NaN,627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Manufacturing, Travel and Tourism, Transportation",3,101-250,5,Early Stage Venture,"Oct 12, 2017",NaN,Corporate Round,"$85,000,000",Series B,"$176,100,000","$226,100,000",3.0,26,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,10,NaN,-0.6,1.3,-0.4
8,BuzzFeed,/organization/buzzfeed,"Video, Digital Entertainment, Social, News, In...","New York, New York, United States","BuzzFeed provides shareable breaking news, ori...",9,Active,2006,NaN,For Profit,http://www.buzzfeed.com,https://twitter.com/buzzfeed,http://www.facebook.com/buzzfeed,http://www.linkedin.com/company/buzzfeed,info@buzzfeed.com,+1 212-431-7464,"8,606",NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Content and Publishing, Video, Internet Servic...",2,501-1000,7,Late Stage Venture,"Nov 18, 2016","$200,000,000",Series G,"$200,000,000",Series G,"$446,300,000","$496,300,000",5.0,15,Made Acquisitions,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,11,NaN,0.6,-0.1,-0.5
9,SpaceX,/organization/space-exploration-technologies,"Space Travel, Transportation, Aerospace","Hawthorne, California, United States","SpaceX designs, manufactures, and launches adv...",10,Active,Jun-02,NaN,For Profit,http://www.spacex.com,http://twitter.com/SpaceX,http://www.facebook.com/SpaceX,http://www.linkedin.com/company/spacex,media@spacex.com,3103636001,"4,566",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Transportation, Science and Engineering",1,1001-5000,9,Private Equity,"Jul 27, 2017","$350,000,000",Private Equity,"$350,000,000",Private Equity,"$1,495,560,000","$1,495,560,000",4.0,11,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12,NaN,-0.4,-0.8,4.4
10,Apple,/organization/apple,"Consumer Electronics, Hardware, Retail, Electr...","Cupertino, California, United States",Apple is a multinational corporation that desi...,11,Active,"Mar 31, 1976",NaN,For Profit,http://www.apple.com,https://twitter.com/AppleSupport,https://www.facebook.com/india.apple/info/?ent...,http://www.linkedin.com/company/apple,NaN,(408)996-1010,"480,276",NaN,NaN,7.0,8.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,"Consumer Electronics, Hardware, Commerce and S...",3,10001+,4,IPO,"Sep 6, 2017","$5,000,000,000",Post-IPO Debt,"$1,000,000,000",Post-IPO Equity,"$1,150,250,000","$6,150,250,000",2.0,3,Made Acquisitions,Public,"Dec 19, 1980",NaN,"$101,200,000","$1,192,737,304",AAPL,/ipo/apple-ipo--ce1172dc,NASDAQ,14,13,NaN,2.0,4.8,0.5
11,Nvidia,/organization/nvidia,"Software, Hardware, Virtualization, GPU","Santa Clara, California, United States",Nvidia manufactures integrated circuits for us...,12,Active,1993,NaN,For Profit,http://www.nvidia.com,http://twitter.com/nvidia,http://www.facebook.com/NVIDIA,https://www.linkedin.com/company/3608,info@nvidia.com,(140) 848-6200,"19,775",NaN,NaN,15.0,19.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information Technology, Hardware, Software",2,5001-10000,3,IPO,"May 24, 2017","$4,000,000,000",Post-IPO Equity,"$4,000,000,000",Post-IPO Equity,"$4,000,000,000","$4,025,000,000",2.0,3,Made Acquisitions,Public,"Jan 29, 1999",NaN,NaN,NaN,NVDA,/ipo/nvidia-ipo--984a8497,NASDAQ,72,14,NaN,-0.2,-0.7,-0.1
12,ServiceNow,/organization/service-now-com,"Enterprise Applications, PaaS, Enterprise Soft...","Santa Clara, California, United States",ServiceNow provides cloud-based solutions that...,13,Active,2004,NaN,For Profit,http://www.servicenow.com/,http://twitter.com/servicenow,http://www.facebook.com/servicenow,http://www.linkedin.com/company/servicenow,info@servicenow.com,(408)501-8550,"1,076",NaN,NaN,5.0,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Apps, Internet Services, Software, Information...",1,1001-5000,6,IPO,"Mar 20, 2012","$10,980,000",Private Equity,"$10,980,000",Private Equity,"$83,703,892","$83,703,892",2.0,3,Made Acquisitions,Public,"Jul 20, 2012",NaN,"$209,700,000","$2,165,215,860",NOW,/ipo/service-now-com-ipo--ab57e395,NYSE,60,15,NaN,5.5,8.6,-0.1
13,General Electric (GE),/organization/general-electric,"Finance, FinTech, Electronics","Fairfield, Connecticut, United States",General Electric Company offers infrastructure...,14,Active,Jan 1878,NaN,For Profit,http://www.ge.com,http://twitter.com/generalelectric,http://www.facebook.com/ge,http://www.linkedin.com/company/ge,NaN,NaN,"2,507",NaN,NaN,29.0,37.0,13.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,"Hardware, Consumer Electronics, Financial Serv...",0,NaN,1,IPO,"Nov 19, 2009","$2,000,000",Grant,NaN,NaN,NaN,"$2,000,000",NaN,NaN,Made Acquisitions,Public,"Jan 13, 1978",NaN,NaN,NaN,GE,/ipo/general-electric-ipo--97b2066f,NYSE,24,16,NaN,-0.3,7.3,0.4
14,HubSpot,/organization/hubspot,"Marketing, Information Technology, Analytics, ...","Cambridge, Massachusetts, United States","HubSpot develops cloud-based, inbound marketin...",15,Active,"Jun 9, 2006",NaN,For Profit,http://www.hubspot.com,http://twitter.com/HubSpot,http://www.facebook.com/hubspot,http://www.linkedin.com/company/hubspot,info@hubspot.com,(888) 482-7768,"1,595",NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5,"Information Technology, Data and Analytics, Sa...",4,1001-5000,6,IPO,"Nov 10, 2012","$35,000,000",Venture - Series Unknown,"$35,000,000",Venture - Series Unknown,"$100,500,000","$100,500,000",3.0,12,Made Acquisitions,Public,"Oct 10, 2014",NaN,"$125,000,000","$759,000,000",HUBS,/ipo/hubspot-ipo--73a33b3b,NYSE,12,19,NaN,-0.6,-2.0,-0.1

In [7]:
df.isnull().sum()

Organization Name             0
Organization Name URL         0
Categories                 6440
Headquarters Location      4930
Description                   2
CB Rank (Company)             2
Operating Status            829
                          ...
Stock Exchange            92908
Number of Events          51854
CB Rank (Organization)    41272
CB Rank (School)          66904
Trend Score (7 Days)          0
Trend Score (30 Days)         0
Trend Score (90 Days)     16975
Length: 61, dtype: int64

In [8]:
#Columns to be used for model training 
df1 = df[['Founded Date', 
          'Categories', 
          'Headquarters Location', 
          'Number of Founders', 
          'Last Funding Amount', 
          'Number of Funding Rounds',
          'Number of Articles',
          'Number of Employees',
          'Last Equity Funding Type']]

In [9]:
df1.head(15)

,Founded Date,Categories,Headquarters Location,Number of Founders,Last Funding Amount,Number of Funding Rounds,Number of Articles,Number of Employees,Last Equity Funding Type
0,"Apr 4, 2010","Mobile, Consumer Electronics, Internet","Beijing, Beijing, China",10,"$1,000,000,000",7,"13,913",1001-5000,Undisclosed
1,"Jan 1, 1997","Digital Entertainment, Video, Consumer Electro...","Los Gatos, California, United States",3,"$1,600,000,000",11,"59,256",1001-5000,Series E
2,"Apr 28, 2009","Crowdsourcing, Finance, Crowdfunding, FinTech","Brooklyn, New York, United States",3,"$10,000,000",1,"23,574",51-100,Venture - Series Unknown
3,"May 1, 2011","Crowdfunding, Association, Venture Capital","New York, New York, United States",2,"$5,125,000",3,430,01-Oct,Venture - Series Unknown
4,1819,"Retail, Logistics, Supply Chain Management","Singapore, Central Region, Singapore",1,"$206,850,000",2,"3,544",1001-5000,Undisclosed
5,2007,"Developer Platform, Internet, Software","Berlin, Berlin, Germany",3,"äå588,800,000",5,"2,854",251-500,Post-IPO Equity
6,1984,"Mobile, Hardware, Computer, Manufacturing","Morrisville, North Carolina, United States",1,"$500,000,000",3,"26,519",10001+,Post-IPO Equity
7,2014,"Travel, Transportation, Manufacturing","Los Angeles, California, United States",3,NaN,5,627,101-250,Series B
8,2006,"Video, Digital Entertainment, Social, News, In...","New York, New York, United States",2,"$200,000,000",7,"8,606",501-1000,Series G
9,Jun-02,"Space Travel, Transportation, Aerospace","Hawthorne, California, United States",1,"$350,000,000",9,"4,566",1001-5000,Private Equity
10,"Mar 31, 1976","Consumer Electronics, Hardware, Retail, Electr...","Cupertino, California, United States",3,"$5,000,000,000",4,"480,276",10001+,Post-IPO Equity
11,1993,"Software, Hardware, Virtualization, GPU","Santa Clara, California, United States",2,"$4,000,000,000",3,"19,775",5001-10000,Post-IPO Equity
12,2004,"Enterprise Applications, PaaS, Enterprise Soft...","Santa Clara, California, United States",1,"$10,980,000",6,"1,076",1001-5000,Private Equity
13,Jan 1878,"Finance, FinTech, Electronics","Fairfield, Connecticut, United States",0,"$2,000,000",1,"2,507",NaN,NaN
14,"Jun 9, 2006","Marketing, Information Technology, Analytics, ...","Cambridge, Massachusetts, United States",4,"$35,000,000",6,"1,595",1001-5000,Venture - Series Unknown

In [10]:
df1.dtypes

Founded Date                object
Categories                  object
Headquarters Location       object
Number of Founders          object
Last Funding Amount         object
Number of Funding Rounds    object
Number of Articles          object
Number of Employees         object
Last Equity Funding Type    object
dtype: object

In [11]:
# Replace Missing values for number of articles with 0 articles
df1['Number of Articles'].fillna(0, inplace=True)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [12]:
df1['Number of Articles'].head(10)

0    13,913
1    59,256
2    23,574
3       430
4     3,544
5     2,854
6    26,519
7       627
8     8,606
9     4,566
Name: Number of Articles, dtype: object

In [13]:
#take out the commas to convert the object into float64
df1["Number of Articles"] = df1["Number of Articles"].str.replace(",","")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [14]:
df1['Number of Articles'].head(15)

0      13913
1      59256
2      23574
3        430
4       3544
5       2854
6      26519
7        627
8       8606
9       4566
10    480276
11     19775
12      1076
13      2507
14      1595
Name: Number of Articles, dtype: object

In [15]:
#Convert column to numeric
df1['Number of Articles'] = pd.to_numeric(df1['Number of Articles'], errors='coerce')
df1['Number of Articles'].dtype

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

dtype('float64')

In [16]:
df1['Number of Funding Rounds'] = pd.to_numeric(df1['Number of Funding Rounds'], errors='coerce')

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
df1['Number of Founders'].value_counts()

1.0       14996
2.0       12322
Nov-50     8768
10-Jan     7631
01-Oct     6035
3.0        5695
1          3413
          ...
10.0          3
11.0          2
9             2
0             2
18.0          1
11            1
8             1
Name: Number of Founders, Length: 34, dtype: int64

In [18]:
#Convert the column to float value. When there are ranges given, I take the average and output a single float
df1['Number of Founders'] = df1['Number of Founders'].replace({'Nov-50': np.nan,
                                   '1.0' : 1,
                                   '1' : 1,
                                   '10-Jan' : np.nan,
                                   '51-100' : 75,
                                   '01-Oct' : np.nan,
                                   '2' : 2,
                                   '101-250' : 175,
                                   '2.0' : 2,
                                   '501-1000' : 750,
                                   '251-500' : 375,
                                   '10001+' : 10000,
                                   '1001-5000': 2500,
                                   '3' : 3,
                                   '5001-10000' : 7500,
                                   '3.0' : 3,
                                   '4': 4,
                                   '5': 5,
                                   '4.0':4,
                                   '6':6,
                                   '5.0': 5,
                                   '7': 7,
                                   '8': 8,
                                   '6.0':6,
                                   '7.0':7,
                                   '9':9,
                                   '10':10,
                                   '8.0':8,
                                   '9.0':9,
                                   '11.0':11,
                                   '10.0':10,
                                   '11':11,
                                   '18':18,
                                   '0':np.nan})

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
df1['Number of Employees'].value_counts()

Nov-50    19811
1.0       11574
1         10285
10-Jan     8129
51-100     6918
01-Oct     6345
2          3804
          ...
15            2
11            1
13            1
18            1
16            1
12            1
0.0           1
Name: Number of Employees, Length: 37, dtype: int64

In [20]:
#Convert the column to float value. When there are ranges given, I take the average and output a single float
df1['Number of Employees'] = df1['Number of Employees'].replace({'Nov-50': np.nan,
                                   '1.0' : 1,
                                   '1' : 1,
                                   '10-Jan' : np.nan,
                                   '51-100' : 75,
                                   '01-Oct' : np.nan,
                                   '2' : 2,
                                   '101-250' : 175,
                                   '2.0' : 2,
                                   '501-1000' : 750,
                                   '251-500' : 375,
                                   '10001+' : 10000,
                                   '1001-5000': 2500,
                                   '3' : 3,
                                   '5001-10000' : 7500,
                                   '3.0' : 3,
                                   '4': 4,
                                   '5': 5,
                                   '4.0':4,
                                   '6':6,
                                   '5.0': 5,
                                   '7': 7,
                                   '8': 8,
                                   '6.0':6,
                                   '7.0':7,
                                   '9':9,
                                   '10':10,
                                   '8.0':8,
                                   '9.0':9,
                                   '11.0':11,
                                   '15':15,
                                   '18':18,
                                   '11':11,
                                   '16':16,
                                   '13':13,
                                   '12':12,
                                   '0':np.nan})

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
len(df['Headquarters Location'].value_counts())

7889

In [22]:
df1.dtypes

Founded Date                 object
Categories                   object
Headquarters Location        object
Number of Founders          float64
Last Funding Amount          object
Number of Funding Rounds    float64
Number of Articles          float64
Number of Employees         float64
Last Equity Funding Type     object
dtype: object

In [23]:
"""------------------------Once Data is Fully Cleaned, Convert Data to Train/Test and Label Form----------------------"""

'------------------------Once Data is Fully Cleaned, Convert Data to Train/Test and Label Form----------------------'

In [ ]:
#Scroll to the very top for remaining tasks ^^^^^^^^^^^^^^^

In [24]:
# After thoroughly analyzing the data, this column seems to provide the most accurate data on 
# whether or not a company received vc funding

df1['Last Equity Funding Type'].value_counts()

Seed                        12034
Venture - Series Unknown    10343
Series A                     5864
Series B                     3726
Series C                     2042
Private Equity               1776
Angel                        1751
                            ...
$1,845,494                      1
$1,680,000                      1
£101,502                       1
$651,914                        1
$3,025,969                      1
$906,399                        1
$3,254,339                      1
Name: Last Equity Funding Type, Length: 7944, dtype: int64

In [25]:
# Create an empty column for the label
df1['Label']= np.nan

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [26]:
# To set up our label for a logistic regression model, make the label of every company that got VC funding a value of 1

df1['Label'][(df['Last Equity Funding Type'] == 'Venture - Series Unknown') | 
               (df['Last Equity Funding Type'] == 'Series A') |
               (df['Last Equity Funding Type'] == 'Series B') |
               (df['Last Equity Funding Type'] == 'Series C') |
               (df['Last Equity Funding Type'] == 'Series D') |
               (df['Last Equity Funding Type'] == 'Post-IPO Equity') |
               (df['Last Equity Funding Type'] == 'Series E') |
               (df['Last Equity Funding Type'] == 'Series F')] = 1

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/generic.py:5984: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [27]:
# Now to set a value of 0 to every company that did not get venture funding
df1['Label'].fillna(0, inplace=True)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [28]:
#Now reinsert the Nans
df1['Label'][df1['Last Equity Funding Type'].isna() == True] = np.nan

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/generic.py:5984: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
#This gives us a total dataset of 70108 rows
df1['Label'].value_counts().sum()

70108

In [30]:
# Now to clear the rows that have missing label values
dropped_na = df1.dropna(subset=['Label'])
dropped_na.shape

(70108, 10)

In [31]:
#Here are the most relevent columns
features = dropped_na[['Founded Date', 
          'Categories', 
          'Headquarters Location', 
          'Number of Founders', 
          'Last Funding Amount', 
          'Number of Funding Rounds',
          'Number of Articles',
          'Number of Employees',
          'Last Equity Funding Type']]
labels = dropped_na['Label']

In [32]:
df['Last Funding Type'].value_counts()

Seed                        11298
Venture - Series Unknown     9557
Series A                     5569
Series B                     3511
Debt Financing               1949
Series C                     1895
Private Equity               1674
                            ...
£123,040                       1
£506,430                       1
å£147,820                       1
$23,500                         1
$1,680,000                      1
£101,502                       1
$284,998                        1
Name: Last Funding Type, Length: 6190, dtype: int64